@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

/* Variables */
$black: #000;
$white: #FFF;
$blue: #CAE8E3;
$pink: #F6E4D5;
$yellow: #FFD080;
$border: 0.2rem solid $black;

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

@keyframes floating {
    0%, 100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-4rem);
    }
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $white;
    }

    &::-webkit-scrollbar-thumb {
        background: $black;
    }
}

/* -- HEADER -- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem 9%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    .brand {
        font-size: 2.5rem;
        font-weight: 700;
        color: $black;
    }

    .navbar a {
        margin: 0 1rem;
        font-size: 2rem;
        color: $black;

        &:hover {
            text-decoration: underline;
        }
    }
}

.btn {
    display: inline-block;
    margin-top: 0;
    padding: 1rem 3rem;
    font-size: 2rem;
    color: $white;
    background: $black;
    border: $border;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.4s ease;

    &:hover {
        background: none;
        color: $black;
    }
}

#menu-btn {
    display: none;
    font-size: 3rem;
    cursor: pointer;
}


/* -- SECTION HOME -- */
section {
    padding: 5rem 9%;
}

.home {
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    background: $pink;

    .image {
        flex: 1 1 42rem;
        margin-top: 5rem;

        img {
            width: 100%;
            animation: floating 4s linear infinite;    
        }
    }

    .content {
        flex: 1 1 42rem;

        h3 {
            font-size: 6rem;
            font-weight: 700;
            text-transform: capitalize;
        }

        p {
            font-size: 2rem;
            padding: 1rem 0;
            line-height: 1.7;
        }
    }
}

.line-down {
    position: relative;
    z-index: 0;

    &::before {
        content: '';
        position: absolute;
        bottom: 0.5rem;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: $yellow;
        z-index: -1;
        clip-path: polygon(0 80%, 100% 75%, 100% 100%, 0% 100%);
    }
}

/* -- SECTION SERVICES -- */
.heading {
    margin-bottom: 3rem;
    text-align: center;

    span {
        font-size: 2.5rem;
    }

    h1 {
        font-size: 4rem;
        padding-top: 0.5rem;
    }
}

.services {
    background: $pink;

    .box-container {
        @include grid(32rem);

        .box {
            background: $white;
            padding: 3rem 2rem;
            text-align: center;
            border-radius: 0.5rem;

            img {
                height: 8rem;
                margin-bottom: 0.7rem;
            }

            h3 {
                font-size: 2.2rem;
                padding: 1.5rem 0;
            }

            p {
                font-size: 1.7rem;
                line-height: 2;
            }
        }
    }
}










/* --- MEDIA QUERY --- */
/* Extra Large devices */
@media (max-width: 1200px) {
    header {
        padding: 2rem;
    }

    section {
        padding: 3rem 2rem;
    }

    .home .content h3 {
        font-size: 4rem;
    }

}

/* Large devices */
@media (max-width: 992px) {
    html {
        font-size: 55%;
    }
}

/* Medium custom devices */
@media (max-width: 840px) {
    html {
        font-size: 50%;
    }
}

/* Medium devices */
@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
        transition: 0.3s linear;

        &.fa-times {
            transform: rotate(90deg);
        }
    }
    
    header {

        .navbar {
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            background: $white;
            border-top: $border;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: 0.3s linear;

            &.active {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            a {
                display: block;
                margin: 0;
                padding: 1.5rem 2rem;
            }
        }

        .btn {
            display: none;
        }


    }
}

/* Medium custom devices */
@media (max-width: 450px) {
    .heading h1 {
        font-size: 3rem;
    }
}