@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

/* Variables */
@-webkit-keyframes floating {
  0%, 100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
}
@keyframes floating {
  0%, 100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #FFF;
}

html::-webkit-scrollbar-thumb {
  background: #000;
}

/* -- HEADER -- */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFF;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header .brand {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}

header .navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  color: #000;
}

header .navbar a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 2rem;
  color: #FFF;
  background: #000;
  border: 0.2rem solid #000;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.5rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.btn:hover {
  background: none;
  color: #000;
}

#menu-btn {
  display: none;
  font-size: 3rem;
  cursor: pointer;
}

/* -- SECTION HOME -- */
section {
  padding: 5rem 9%;
}

.home {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  background: #F6E4D5;
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  margin-top: 5rem;
}

.home .image img {
  width: 100%;
  -webkit-animation: floating 4s linear infinite;
          animation: floating 4s linear infinite;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .content h3 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: capitalize;
}

.home .content p {
  font-size: 2rem;
  padding: 1rem 0;
  line-height: 1.7;
}

.line-down {
  position: relative;
  z-index: 0;
}

.line-down::before {
  content: '';
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #FFD080;
  z-index: -1;
  -webkit-clip-path: polygon(0 80%, 100% 75%, 100% 100%, 0% 100%);
          clip-path: polygon(0 80%, 100% 75%, 100% 100%, 0% 100%);
}

/* -- SECTION SERVICES -- */
.heading {
  margin-bottom: 3rem;
  text-align: center;
}

.heading span {
  font-size: 2.5rem;
}

.heading h1 {
  font-size: 4rem;
  padding-top: 0.5rem;
}

.services {
  background: #F6E4D5;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  background: #FFF;
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 0.5rem;
}

.services .box-container .box img {
  height: 8rem;
  margin-bottom: 0.7rem;
}

.services .box-container .box h3 {
  font-size: 2.2rem;
  padding: 1.5rem 0;
}

.services .box-container .box p {
  font-size: 1.7rem;
  line-height: 2;
}

/* -- SECTION ABOUT -- */
.about {
  min-height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .content h3 {
  font-size: 4rem;
  line-height: 1.5;
}

.about .content p {
  font-size: 1.7rem;
  line-height: 1.8;
  padding: 1rem;
}

/* -- SECTION ABOUT -- */
.steps {
  background: #CAE8E3;
}

.steps .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.steps .box-container .box {
  text-align: center;
  padding: 3rem 2rem;
}

.steps .box-container .box img {
  height: 20rem;
}

.steps .box-container .box h3 {
  font-size: 2.2rem;
  padding: 1.5rem 0;
}

.steps .box-container .box p {
  font-size: 1.7rem;
  line-height: 2;
  padding-bottom: 1rem;
}

/* -- SECTION FEATURES -- */
.features .box-container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60vh;
  margin-bottom: 3rem;
}

.features .box-container .box:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
}

.features .box-container .box:last-child {
  margin-bottom: 0;
}

.features .box-container .box .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.features .box-container .box .image img {
  width: 100%;
}

.features .box-container .box .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.features .box-container .box .content h3 {
  font-size: 3rem;
  line-height: 1.5;
}

.features .box-container .box .content p {
  padding: 1.5rem 0;
  line-height: 2;
  font-size: 1.7rem;
}

/* -- SECTION PRICING -- */
.pricing {
  background: #F6E4D5;
  text-align: center;
}

.pricing .price-toggler {
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 3rem;
  background: #FFF;
  border: 0.2rem solid #000;
}

.pricing .price-toggler span {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #000;
  border-radius: 0.5rem;
}

.pricing .price-toggler span.active {
  background: #000;
  color: #FFF;
}

.pricing .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.pricing .box-container .box {
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  background: #FFF;
}

.pricing .box-container .box:nth-child(2) {
  border: 0.2rem solid #000;
}

.pricing .box-container .box:nth-child(2) h3 {
  background: #F6E4D5;
}

.pricing .box-container .box h3 {
  font-size: 2rem;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  background: #CAE8E3;
  margin-bottom: 1rem;
}

.pricing .box-container .box .price {
  padding: 2rem 0;
}

.pricing .box-container .box .price .month,
.pricing .box-container .box .price .year {
  font-size: 5rem;
  -webkit-animation: fadeUp 0.2s linear backwards;
          animation: fadeUp 0.2s linear backwards;
}

.pricing .box-container .box .price .month span,
.pricing .box-container .box .price .year span {
  font-size: 3rem;
}

.pricing .box-container .box .price .year {
  display: none;
}

.pricing .box-container .box .list {
  padding: 1rem 0;
}

.pricing .box-container .box .list p {
  padding: 1.5rem 0;
  font-size: 1.7rem;
}

.pricing .box-container .box .list p i {
  padding-right: 0.5rem;
}

/* -- SECTION REVIEW -- */
.review .slide-container .slide {
  text-align: center;
  max-width: 60rem;
  margin: 1rem auto;
  display: none;
}

.review .slide-container .slide.active {
  display: block;
}

.review .slide-container .slide img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: fadeUp 0.2s linear backwards;
          animation: fadeUp 0.2s linear backwards;
}

.review .slide-container .slide p {
  padding: 1.5rem 0;
  font-size: 2rem;
  line-height: 2;
  -webkit-animation: fadeUp 0.2s linear 0.4s backwards;
          animation: fadeUp 0.2s linear 0.4s backwards;
}

.review .slide-container .slide h3 {
  padding-bottom: 0.7rem;
  font-size: 2rem;
  -webkit-animation: fadeUp 0.2s linear 0.6s backwards;
          animation: fadeUp 0.2s linear 0.6s backwards;
}

.review .slide-container .slide span {
  display: block;
  font-size: 1.7rem;
  -webkit-animation: fadeUp 0.2s linear 0.8s backwards;
          animation: fadeUp 0.2s linear 0.8s backwards;
}

.review .controls {
  text-align: center;
  margin-top: 2rem;
}

.review .controls div {
  margin: 0 1rem;
  font-size: 4.5rem;
  cursor: pointer;
}

.review .controls div:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* -- SECTION FAQ -- */
.faq {
  background: #CAE8E3;
}

.faq .accordion-container {
  max-width: 70rem;
  margin: 1rem auto;
}

.faq .accordion-container .accordion {
  margin: 1rem 0;
  border-radius: 0.5rem;
  background: #FFF;
}

.faq .accordion-container .accordion.active .accordion-heading i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq .accordion-container .accordion.active .accordion-content {
  display: block;
}

.faq .accordion-container .accordion .accordion-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  cursor: pointer;
}

.faq .accordion-container .accordion .accordion-heading h3 {
  text-align: left;
  font-size: 2rem;
  line-height: 1.5;
}

.faq .accordion-container .accordion .accordion-heading i {
  font-size: 2rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.faq .accordion-container .accordion .accordion-content {
  padding: 1.5rem;
  padding-top: 0;
  line-height: 2;
  font-size: 1.7rem;
  display: none;
  -webkit-animation: fadeUp 0.2s linear backwards;
          animation: fadeUp 0.2s linear backwards;
}

/* -- FOOTER -- */
.footer {
  background: #F6E4D5;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box {
  text-align: center;
  padding-bottom: 2em;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  padding-top: 2em;
}

.footer .box-container .box a {
  display: block;
  padding: 1rem 0;
  font-size: 2rem;
  color: #000;
}

.footer .box-container .box a:hover {
  text-decoration: underline;
}

/* --- MEDIA QUERY --- */
/* Extra Large devices */
@media (max-width: 1200px) {
  header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .home .content h3 {
    font-size: 4rem;
  }
}

/* Large devices */
@media (max-width: 992px) {
  html {
    font-size: 55%;
  }
}

/* Medium custom devices */
@media (max-width: 840px) {
  html {
    font-size: 50%;
  }
}

/* Medium devices */
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  #menu-btn.fa-times {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #FFF;
    border-top: 0.2rem solid #000;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a {
    display: block;
    margin: 0;
    padding: 1.5rem 2rem;
  }
  header .btn {
    display: none;
  }
}

/* Medium custom devices */
@media (max-width: 450px) {
  .heading h1 {
    font-size: 3rem;
  }
  .btn {
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
  }
  .about .content .line-down::before {
    background: transparent;
  }
}
/*# sourceMappingURL=style.css.map */