@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

/* Variables */
$black: #000;
$white: #FFF;
$blue: #CAE8E3;
$pink: #F6E4D5;
$yellow: #FFD080;
$border: 0.2rem solid $black;

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

@keyframes floating {
    0%, 100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-4rem);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $white;
    }

    &::-webkit-scrollbar-thumb {
        background: $black;
    }
}


/* -- HEADER -- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem 9%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    .brand {
        font-size: 2.5rem;
        font-weight: 700;
        color: $black;
    }

    .navbar a {
        margin: 0 1rem;
        font-size: 2rem;
        color: $black;

        &:hover {
            text-decoration: underline;
        }
    }
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    color: $white;
    background: $black;
    border: $border;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.4s ease;

    &:hover {
        background: none;
        color: $black;
    }
}

#menu-btn {
    display: none;
    font-size: 3rem;
    cursor: pointer;
}


/* -- SECTION HOME -- */
section {
    padding: 5rem 9%;
}

.home {
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    background: $pink;

    .image {
        flex: 1 1 42rem;
        margin-top: 5rem;

        img {
            width: 100%;
            animation: floating 4s linear infinite;    
        }
    }

    .content {
        flex: 1 1 42rem;

        h3 {
            font-size: 6rem;
            font-weight: 700;
            text-transform: capitalize;
        }

        p {
            font-size: 2rem;
            padding: 1rem 0;
            line-height: 1.7;
        }
    }
}

.line-down {
    position: relative;
    z-index: 0;

    &::before {
        content: '';
        position: absolute;
        bottom: 0.5rem;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: $yellow;
        z-index: -1;
        clip-path: polygon(0 80%, 100% 75%, 100% 100%, 0% 100%);
    }
}


/* -- SECTION SERVICES -- */
.heading {
    margin-bottom: 3rem;
    text-align: center;

    span {
        font-size: 2.5rem;
    }

    h1 {
        font-size: 4rem;
        padding-top: 0.5rem;
    }
}

.services {
    background: $pink;

    .box-container {
        @include grid(32rem);

        .box {
            background: $white;
            padding: 3rem 2rem;
            text-align: center;
            border-radius: 0.5rem;

            img {
                height: 8rem;
                margin-bottom: 0.7rem;
            }

            h3 {
                font-size: 2.2rem;
                padding: 1.5rem 0;
            }

            p {
                font-size: 1.7rem;
                line-height: 2;
            }
        }
    }
}

/* -- SECTION ABOUT -- */
.about {
    min-height: 85vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .image {
        flex: 1 1 42rem;

        img {
            width: 100%;
        }
    }

    .content {
        flex: 1 1 42rem;

        h3 {
            font-size: 4rem;
            line-height: 1.5;
        }

        p {
            font-size: 1.7rem;
            line-height: 1.8;
            padding: 1rem;
        }
    }
}


/* -- SECTION ABOUT -- */
.steps {
    background: $blue;

    .box-container {
        @include grid(32rem);

        .box {
            text-align: center;
            padding: 3rem 2rem;

            img {
                height: 20rem;
            }

            h3 {
                font-size: 2.2rem;
                padding: 1.5rem 0;
            }

            p {
                font-size: 1.7rem;
                line-height: 2;
                padding-bottom: 1rem;
            }
        }
    }
}


/* -- SECTION FEATURES -- */
.features {

    .box-container .box {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
        min-height: 60vh;
        margin-bottom: 3rem;

        &:nth-child(even) {
            flex-flow: row-reverse wrap;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .image {
            flex: 1 1 42rem;

            img {
                width: 100%;
            }
        }

        .content {
            flex: 1 1 42rem;

            h3 {
                font-size: 3rem;
                line-height: 1.5;
            }

            p {
                padding: 1.5rem 0;
                line-height: 2;
                font-size: 1.7rem;
            }
        }
    }

}


/* -- SECTION PRICING -- */
.pricing {
    background: $pink;
    text-align: center;

    .price-toggler {
        display: inline-block;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-bottom: 3rem;
        background: $white;
        border: $border;

        span {
            display: inline-block;
            padding: 1rem 3rem;
            font-size: 1.7rem;
            cursor: pointer;
            color: $black;
            border-radius: 0.5rem;

            &.active {
                background: $black;
                color: $white;
            }
        }
    }
    
    .box-container {
        @include grid(32rem);

        .box {
            padding: 3rem 2rem;
            border-radius: 0.5rem;
            background: $white;

            &:nth-child(2) {
                border: $border;

                h3 {
                    background: $pink;
                }
            }

            h3 {
                font-size: 2rem;
                display: inline-block;
                border-radius: 0.5rem;
                padding: 0.5rem 1.5rem;
                background: $blue;
                margin-bottom: 1rem;
            }

            .price {
                padding: 2rem 0;

                .month,
                .year {
                    font-size: 5rem;
                    animation: fadeUp 0.2s linear backwards;

                    span {
                        font-size: 3rem;
                    }
                }

                .year {
                    display: none;
                }
            }

            .list {
                padding: 1rem 0;

                p {
                    padding: 1.5rem 0;
                    font-size: 1.7rem;

                    i {
                        padding-right: 0.5rem;
                    }
                }
            }
        }
    }
}


/* -- SECTION REVIEW -- */
.review {

    .slide-container {


        .slide {
            text-align: center;
            max-width: 60rem;
            margin: 1rem auto;
            display: none;

            &.active {
                display: block;
            }

            img {
                height: 10rem;
                width: 10rem;
                border-radius: 50%;
                object-fit: cover;
                animation: fadeUp 0.2s linear backwards;
            }

            p {
                padding: 1.5rem 0;
                font-size: 2rem;
                line-height: 2;
                animation: fadeUp 0.2s linear 0.4s backwards;
            }

            h3 {
                padding-bottom: 0.7rem;
                font-size: 2rem;
                animation: fadeUp 0.2s linear 0.6s backwards;
            }

            span {
                display: block;
                font-size: 1.7rem;
                animation: fadeUp 0.2s linear 0.8s backwards;
            }
        }
    }

    .controls {
        text-align: center;
        margin-top: 2rem;

        div {
            margin: 0 1rem;
            font-size: 4.5rem;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}


/* -- SECTION FAQ -- */
.faq {
    background: $blue;

    .accordion-container {
        max-width: 70rem;
        margin: 1rem auto;

        .accordion {
            margin: 1rem 0;
            border-radius: 0.5rem;
            background: $white;

            &.active {

                .accordion-heading i {
                    transform: rotate(180deg);
                }

                .accordion-content {
                    display: block;
                }
            }

            .accordion-heading {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                padding: 1.5rem;
                cursor: pointer;

                h3 {
                    text-align: left;
                    font-size: 2rem;
                    line-height: 1.5;
                }

                i {
                    font-size: 2rem;
                    transition: 0.2s linear;
                }
            }

            .accordion-content {
                padding: 1.5rem;
                padding-top: 0;
                line-height: 2;
                font-size: 1.7rem;
                display: none;
                animation: fadeUp 0.2s linear backwards;
            }
        }
    }
}


/* -- LOGIN -- */
.login {
    background: $blue;

    .login-card {
        background: $white;
        border-radius: 0.5rem;
        max-width: 90rem;
        margin: 0 auto;

        .login-card-container {
            width: 60%;
            margin: 0 auto;

            .heading {
                padding-top: 2.2rem;
            }
        }

        .login-content {
            padding-top: 2rem;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 1.7rem;
            

                label {
                    display: block;
                    padding-bottom: 0.8rem;
                }

                .input-email,
                .input-password {
                    width: 100%;
                }

                .input-password {
                    margin: 3rem 0;
                    position: relative;

                    .eye {
                        position: absolute;
                        margin-top: 1.2rem;
                        right: 1rem;
                        cursor: pointer;
                    }
                }

                .email,
                .password {
                    border: 1px solid $black;
                    border-radius: 0.5rem;
                    width: 100%;
                    padding: 1.2rem;
                    font-size: 1.5rem;
                }

                .btn {
                    width: 100%;
                }
            }

            p {
                font-size: 1.6rem;
                padding: 2.2rem 0;

                .signup {
                    font-weight: bold;
                    color: $black;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}




/* -- FOOTER -- */
.footer {
    background: $pink;

    .box-container {
        @include grid(25rem);

        .box {
            text-align: center;
            padding-bottom: 2em;
            
            h3 {
                font-size: 2.2rem;
                padding: 1rem 0;
                padding-top: 2em;
            }

            a {
                display: block;
                padding: 1rem 0;
                font-size: 2rem;
                color: $black;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


/* --- MEDIA QUERY --- */
/* Extra Large devices */
@media (max-width: 1200px) {
    header {
        padding: 2rem;
    }

    section {
        padding: 3rem 2rem;
    }

    .home .content h3 {
        font-size: 4rem;
    }

}

/* Large devices */
@media (max-width: 992px) {
    html {
        font-size: 55%;
    }
}

/* Medium custom devices */
@media (max-width: 840px) {
    html {
        font-size: 50%;
    }
}

/* Medium devices */
@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
        transition: 0.3s linear;

        &.fa-times {
            transform: rotate(90deg);
        }
    }
    
    header {

        .navbar {
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            background: $white;
            border-top: $border;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: 0.3s linear;

            &.active {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            a {
                display: block;
                margin: 0;
                padding: 1.5rem 2rem;
            }
        }

        .btn {
            display: none;
        }


    }
}

/* Medium custom devices */
@media (max-width: 450px) {
    .heading h1 {
        font-size: 3rem;
    }

    .btn {
        width: 100%;
        text-align: center;
        font-size: 2.3rem;
    }

    .about .content .line-down {
        
        &::before {
            background: transparent;
        }
    }
}

/* Medium custom devices */
@media (max-width: 690px) {
    .login-card-container {
        width: 100% !important;
        padding: 0 2rem;
    }    
}